{% extends('base.html.twig') %}

{% block title %} Contact | AdeoWeb What To Wear Today? &trade; - Coding Challenge by Amr Farouq  {% endblock %}

{% block body %}

    <!-- Main -->
    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>What To Wear Today? &trade; | Contact Me</h2>

        </header>
        <div class="container">

            <!-- Content -->
            <section id="content">
                <!-- Form -->
                <section>
                    <div class="row">
                        <div class="6u 12u(2)">
                            <ul class="alt">
                                <li class="email"><i class="fa fa-envelope"></i>  <a href="mailto:aamrfarouqaa@gmail.com"> aamrfarouqaa@gmail.com</a></li>
                                <li class="website"><i class="fa fa-globe"></i>  <a href="http://amrfarouqa.website/" target="_blank"> amrfarouqa.website</a></li>
                                <li class="linkedin"><i class="fa fa-linkedin"></i>  <a href="https://www.linkedin.com/in/amrfarouqa/" target="_blank"> linkedin.com/in/amrfarouqa</a></li>
                                <li class="github"><i class="fa fa-github"></i>  <a href="https://github.com/amrfarouqa" target="_blank"> github.com/amrfarouqa</a></li>
                                <li class="twitter"><i class="fa fa-twitter"></i>  <a href="https://twitter.com/amrfarouqaa" target="_blank"> @amrfarouqaa</a></li>
                            </ul>
                        </div>
                        <div class="6u 12u(2)">
                            <ul class="alt">
                                <img class="profile" src="init/images/profile.gif" alt="" />
                                <li>Junior Full-Stack Developer</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </section>


{% endblock %}