{% extends('base.html.twig') %}

{% block title %}  How It Works? | AdeoWeb What To Wear Today &trade; - Coding Challenge by Amr Farouq {% endblock %}

{% block body %}
    <!-- Main -->
    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>AdeoWeb - What To Wear Today? &trade; | How It Works?</h2>
            <h3><span><img src="init/images/logo.png" alt="logo" width="250px;"/></span></h3>
        </header>
        <div class="container">

            <!-- Content -->
            <section id="content">
                <!-- Form -->
                <section>
                    <h3>How It Works?</h3>
                    <p>Before getting dressed in the morning, we typically check the weather in Lithuania. Is it going to downpour? Or be the most beautiful day of the year? And as much as we love good old Weather.com, it does not give us that much information. That's were WTWT comes in handy.
                        WTWT is a service, which returns product recommendations depending on current weather in Lithuania using the third-party API <a href="https://api.meteo.lt/" target="_blank">LHMT</a>
                        . Based on custom weather or cutom city this application suggests what to wear currently using stored product database.
                    </p>
                    <hr />
                </section>
            </section>

        </div>
    </section>
{% endblock %}