{% extends('base.html.twig') %}

{% block title %} Privacy | AdeoWeb What To Wear Today &trade; - Coding Challenge by Amr Farouq  {% endblock %}

{% block body %}
    <!-- Main -->

    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>AdeoWeb - What To Wear Today? &trade; | Privacy Policy</h2>
            <h3><span><img src="{{ asset('init/images/logo.png') }}" alt="logo" width="250px;"/></span></h3>
        </header>
        <div class="container">

            <!-- Content -->
            <section id="content">
                <!-- Form -->
                <section>
                    <h3>TOOOODOOOOO</h3>
                    <p>Based on the weather of the city you request in Lithuania, Wear To Wear Today will recommend what to wear so that you don't feel too cold or too hot throughout the day. It will also provide what you should bring. For example it would recommend an umbrella on a rainy day.</p>
                    <hr />
                </section>
            </section>

        </div>
    </section>
{% endblock %}