{% extends('base.html.twig') %}

{% block title %}  Search By City | AdeoWeb What To Wear Today &trade; - Coding Challenge by Amr Farouq {% endblock %}

{% block body %}
    <!-- Main -->
    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>AdeoWeb - What To Wear Today? &trade; | Search By City</h2>
            <h3><span><img src="init/images/logo.png" alt="logo" width="250px;"/></span></h3>
        </header>
    </section>

    <!-- Three -->
    <section id="one" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h3>Please Click On The City To See Related Products</h3>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Lithuanian Cities.."
                       title="Type in a name">
                <ul id="myUL">

                    <li><a href="Afghanistan.html">Afganistan</a></li>


                    <li><a href="Akrotiri.html">Akrotiri</a></li>


                    <li><a href="Albania.html">Albania</a></li>


                    <li><a href="Algeria.html">Algeria</a></li>


                    <li><a href="American-Samoa.html">American-Samoa</a></li>


                    <li><a href="Andorra.html">Andorra</a></li>


                    <li><a href="Angola.html">Angola</a></li>


                    <li><a href="Anguilla.html">Anguilla</a></li>


                    <li><a href="Antigua-and-Barbuda.html">Antigua-and-Barbuda</a></li>


                    <li><a href="Argentina.html">Argentina</a></li>


                    <li><a href="Armenia.html">Armenia</a></li>


                    <li><a href="Australia.html">Australia</a></li>


                    <li><a href="Austria.html">Austria</a></li>


                    <li><a href="Azerbaijan.html">Azerbaijan</a></li>


                    <li><a href="Bahamas.html">Bahamas</a></li>


                    <li><a href="Bangladesh.html">Bangladesh</a></li>


                    <li><a href="Barbados.html">Barbados</a></li>


                    <li><a href="Belarus.html">Belarus</a></li>


                    <li><a href="Belgium.html">Belgium</a></li>


                    <li><a href="Belize.html">Belize</a></li>


                    <li><a href="Benin.html">Benin</a></li>


                    <li><a href="Bermuda.html">Bermuda</a></li>


                    <li><a href="Bhutan.html">Bhutan</a></li>


                    <li><a href="Bolivia.html">Bolivia</a></li>


                    <li><a href="Bosnia-and-Herzegovina.html">Bosnia-and-Herzegovina</a></li>


                    <li><a href="Botswana.html">Botswana</a></li>


                    <li><a href="Brazil.html">Brazil</a></li>


                    <li><a href="British-Columbia.html">British-Columbia</a></li>


                    <li><a href="British-Indian-Ocean-Territory.html">British-Indian-Ocean-Territory</a></li>


                    <li><a href="Bulgaria.html">Bulgaria</a></li>


                    <li><a href="Cambodia.html">Cambodia</a></li>


                    <li><a href="Cameroon.html">Cameroon</a></li>


                    <li><a href="Canada.html">Canada</a></li>


                    <li><a href="Cape-Verde.html">Cape-Verde</a></li>


                    <li><a href="Chad.html">Chad</a></li>


                    <li><a href="Chile.html">Chile</a></li>


                    <li><a href="China.html">China</a></li>


                    <li><a href="Christmas-Island.html">Christmas-Island</a></li>


                    <li><a href="Cocos-(Keeling)-Islands.html">Cocos-(Keeling)-Islands</a></li>


                    <li><a href="Colombia.html">Colombia</a></li>


                    <li><a href="Comoros.html">Comoros</a></li>


                    <li><a href="Cook-Islands.html">Cook-Islands</a></li>


                    <li><a href="Costa-Rica.html">Costa-Rica</a></li>


                    <li><a href="Cote-Divoire.html">Cote-Divoire</a></li>


                    <li><a href="Croatia.html">Croatia</a></li>


                    <li><a href="Cuba.html">Cuba</a></li>


                    <li><a href="Cyprus.html">Cyprus</a></li>


                    <li><a href="Czech-Republic.html">Czech-Republic</a></li>


                    <li><a href="Denmark.html">Denmark</a></li>


                    <li><a href="Djibouti.html">Djibouti</a></li>


                    <li><a href="Dominica.html">Dominica</a></li>


                    <li><a href="Dominican-Republic.html">Dominican-Republic</a></li>


                    <li><a href="Ecuador.html">Ecuador</a></li>


                    <li><a href="Egypt.html">Egypt</a></li>


                    <li><a href="El-Salvador.html">El-Salvador</a></li>


                    <li><a href="Equatorial-Guinea.html">Equatorial-Guinea</a></li>


                    <li><a href="Eritrea.html">Eritrea</a></li>


                    <li><a href="Estonia.html">Estonia</a></li>


                    <li><a href="Ethiopia.html">Ethiopia</a></li>


                    <li><a href="Falkland-Islands-(Malvinas).html">Falkland-Islands-(Malvinas)</a></li>


                    <li><a href="Faroe-Islands.html">Faroe-Islands</a></li>


                    <li><a href="Fiji.html">Fiji</a></li>


                    <li><a href="Finland.html">Finland</a></li>


                    <li><a href="France.html">France</a></li>


                    <li><a href="French-Guiana.html">French-Guiana</a></li>


                    <li><a href="French-Polynesia.html">French-Polynesia</a></li>


                    <li><a href="French-Southern-Territories.html">French-Southern-Territories</a></li>


                    <li><a href="Gabon.html">Gabon</a></li>


                    <li><a href="Gambia.html">Gambia</a></li>


                    <li><a href="Georgia.html">Georgia</a></li>


                    <li><a href="Germany.html">Germany</a></li>


                    <li><a href="Ghana.html">Ghana</a></li>


                    <li><a href="Gibraltar.html">Gibraltar</a></li>


                    <li><a href="Greece.html">Greece</a></li>


                    <li><a href="Greenland.html">Greenland</a></li>


                    <li><a href="Grenada.html">Grenada</a></li>


                    <li><a href="Guadeloupe.html">Guadeloupe</a></li>


                    <li><a href="Guam.html">Guam</a></li>


                    <li><a href="Guatemala.html">Guatemala</a></li>


                    <li><a href="Guernsey.html">Guernsey</a></li>


                    <li><a href="Guinea.html">Guinea</a></li>


                    <li><a href="Guinea-Bissau.html">Guinea-Bissau</a></li>


                    <li><a href="Haiti.html">Haiti</a></li>


                    <li><a href="Heard-Island.html">Heard-Island</a></li>


                    <li><a href="Holy-See(Vatican-City).html">Holy-See(Vatican-City)</a></li>


                    <li><a href="Honduras.html">Honduras</a></li>


                    <li><a href="Hong-Kong.html">Hong-Kong</a></li>


                    <li><a href="Hungary.html">Hungary</a></li>


                    <li><a href="Iceland.html">Iceland</a></li>


                    <li><a href="India.html">India</a></li>


                    <li><a href="Indonesia.html">Indonesia</a></li>


                    <li><a href="Iran.html">Iran</a></li>


                    <li><a href="Iraq.html">Iraq</a></li>


                    <li><a href="Ireland.html">Ireland</a></li>


                    <li><a href="Isle-Of-Man.html">Isle-Of-Man</a></li>


                    <li><a href="Italy.html">Italy</a></li>


                    <li><a href="Ivory-Coast.html">Ivory-Coast</a></li>


                    <li><a href="Jamaica.html">Jamaica</a></li>


                    <li><a href="Japan.html">Japan</a></li>


                    <li><a href="Jordan.html">Jordan</a></li>


                    <li><a href="Kenya.html">Kenya</a></li>


                    <li><a href="Kiribati.html">Kiribati</a></li>


                    <li><a href="Kosovo.html">Kosovo</a></li>


                    <li><a href="Kuwait.html">Kuwait</a></li>


                    <li><a href="Laos.html">Laos</a></li>


                    <li><a href="Latvia.html">Latvia</a></li>


                    <li><a href="Lebanon.html">Lebanon</a></li>


                    <li><a href="Lesotho.html">Lesotho</a></li>


                    <li><a href="Liberia.html">Liberia</a></li>


                    <li><a href="Libya.html">Libya</a></li>


                    <li><a href="Liechtenstein.html">Liechtenstein</a></li>


                    <li><a href="Lithuania.html">Lithuania</a></li>


                    <li><a href="Macau.html">Macau</a></li>


                    <li><a href="Macedonia.html">Macedonia</a></li>


                    <li><a href="Madagascar.html">Madagascar</a></li>


                    <li><a href="Malawi.html">Malawi</a></li>


                    <li><a href="Malaysia.html">Malaysia</a></li>


                    <li><a href="Maldives.html">Maldives</a></li>


                    <li><a href="Mali.html">Mali</a></li>


                    <li><a href="Malta.html">Malta</a></li>


                    <li><a href="Marshall-Islands.html">Marshall-Islands</a></li>


                    <li><a href="Martinique.html">Martinique</a></li>


                    <li><a href="Mauritania.html">Mauritania</a></li>


                    <li><a href="Mauritius.html">Mauritius</a></li>


                    <li><a href="Mayotte.html">Mayotte</a></li>


                    <li><a href="Mexico.html">Mexico</a></li>


                    <li><a href="Micronesia.html">Micronesia</a></li>


                    <li><a href="Moldova.html">Moldova</a></li>


                    <li><a href="Monaco.html">Monaco</a></li>


                    <li><a href="Mongolia.html">Mongolia</a></li>


                    <li><a href="Montenegro.html">Montenegro</a></li>


                    <li><a href="Montserrat.html">Montserrat</a></li>


                    <li><a href="Morocco.html">Morocco</a></li>


                    <li><a href="Mozambique.html">Mozambique</a></li>


                    <li><a href="Myanmar.html">Myanmar</a></li>


                    <li><a href="Nepal.html">Nepal</a></li>


                    <li><a href="Netherlands.html">Netherlands</a></li>


                    <li><a href="New-Zealand.html">New-Zealand</a></li>


                    <li><a href="Nicaragua.html">Nicaragua</a></li>


                    <li><a href="Niger.html">Niger</a></li>


                    <li><a href="Nigeria.html">Nigeria</a></li>


                    <li><a href="Niue.html">Niue</a></li>


                    <li><a href="Norway.html">Norway</a></li>


                    <li><a href="Oman.html">Oman</a></li>


                    <li><a href="Pakistan.html">Pakistan</a></li>


                    <li><a href="Palestine.html">Palestine</a></li>


                    <li><a href="Papua-New-Guinea.html">Papua-New-Guinea</a></li>


                    <li><a href="Paraguay.html">Paraguay</a></li>


                    <li><a href="Peru.html">Peru</a></li>


                    <li><a href="Philippines.html">Philippines</a></li>


                    <li><a href="Poland.html">Poland</a></li>


                    <li><a href="Portugal.html">Portugal</a></li>


                    <li><a href="Qatar.html">Qatar</a></li>


                    <li><a href="Romania.html">Romania</a></li>


                    <li><a href="Russia.html">Russia</a></li>


                    <li><a href="Rwanda.html">Rwanda</a></li>


                    <li><a href="Saint-Kitts-and-Nevis.html">Saint-Kitts-and-Nevis</a></li>


                    <li><a href="Sao-Tome-and-Principe.html">Sao-Tome-and-Principe</a></li>


                    <li><a href="Saudi-Arabia.html">Saudi-Arabia</a></li>


                    <li><a href="Scotland.html">Scotland</a></li>


                    <li><a href="Senegal.html">Senegal</a></li>


                    <li><a href="Seychelles.html">Seychelles</a></li>


                    <li><a href="Sierra-Leone.html">Sierra-Leone</a></li>


                    <li><a href="Singapore.html">Singapore</a></li>


                    <li><a href="Slovakia.html">Slovakia</a></li>


                    <li><a href="Slovenia.html">Slovenia</a></li>


                    <li><a href="Solomon-Islands.html">Solomon-Islands</a></li>


                    <li><a href="Somalia.html">Somalia</a></li>


                    <li><a href="South-Africa.html">South-Africa</a></li>


                    <li><a href="Spain.html">Spain</a></li>


                    <li><a href="Sri-Lanka.html">Sri-Lanka</a></li>


                    <li><a href="Sudan.html">Sudan</a></li>


                    <li><a href="Swaziland.html">Swaziland</a></li>


                    <li><a href="Sweden.html">Sweden</a></li>


                    <li><a href="Switzerland.html">Switzerland</a></li>


                    <li><a href="Syrian-Arab-Republic.html">Syrian-Arab-Republic</a></li>


                    <li><a href="Taiwan.html">Taiwan</a></li>


                    <li><a href="Tajikistan.html">Tajikistan</a></li>


                    <li><a href="Tanzania.html">Tanzania</a></li>


                    <li><a href="Thailand.html">Thailand</a></li>


                    <li><a href="Timor-Leste.html">Timor-Leste</a></li>


                    <li><a href="Togo.html">Togo</a></li>


                    <li><a href="Tokelau.html">Tokelau</a></li>


                    <li><a href="Tonga.html">Tonga</a></li>


                    <li><a href="Trinidad-and-Tobago.html">Trinidad-and-Tobago</a></li>


                    <li><a href="Tunisia.html">Tunisia</a></li>


                    <li><a href="Turkmenistan.html">Turkmenistan</a></li>


                    <li><a href="Turks-and-Caicos-Islands.html">Turks-and-Caicos-Islands</a></li>


                    <li><a href="Uganda.html">Uganda</a></li>


                    <li><a href="Ukraine.html">Ukraine</a></li>


                    <li><a href="United-Arab-Emirates.html">United-Arab-Emirates</a></li>


                    <li><a href="United-Kingdom.html">United-Kingdom</a></li>


                    <li><a href="United-States.html">United-States</a></li>


                    <li><a href="Uruguay.html">Uruguay</a></li>


                    <li><a href="Uzbekistan.html">Uzbekistan</a></li>


                </ul>
            </header>
        </div>
    </section>

{% endblock %}